# Logs and temporary files
*~
*.swp
*.cdslck
*.cdslck.*
*.~lock.*
layout.oa.*.oacache
*.log
build/
*.so
*.hex
*.elf
*.dis
*.do
*.cache
*.jou
*.csv
*.str

# Python outputs
**/__pycache__

# Questasim files
transcipt
*.wlf

# Synthesis outputs
synthesis/output_*
synthesis/last_output/

# User-specific files
private/
.vscode/
.Xil/
*.txt

# Tech files
*.db
*.lib
*.lef
*.gds
